<font size="+3"><strong>Housing in Brazil ðŸ‡§ðŸ‡·</strong></font>

# **Prepare the data**

## **Import**

In [1]:
# Import Matplotlib, pandas, and plotly

import matplotlib.pyplot as plt
import pandas as pd
import plotly.express as px

In [ ]:
#Import brasil-real-estate-1 csv file

df1 = pd.read_csv("data/brasil-real-estate-1.csv")
df1.head()

In [ ]:
#drop Nan Values

df1.dropna(inplace=True)

In [ ]:
#split column "lat-lon" and convert to float
df1[['lat', 'lon']]= df1['lat-lon'].str.split(",", expand=True).astype(float)

In [ ]:
#split column "place_with_parent_names" for extract state

df1['state']= df1["place_with_parent_names"].str.split('|', expand=True)[2]
df1['state']

In [ ]:
# delete by replace the $ and , from "price_usd" column and converto to float

df1['price_usd']= (df1['price_usd']
                   .str.replace("$","",regex= False )
                   .str.replace(",", "" )
                   .astype(float))

In [ ]:
#drop the lat-lon and place_with_parent_names columns
df1.drop(columns=['lat-lon', 'place_with_parent_names'], inplace=True)

In [ ]:
# import brasil-real-estate-2 csv file

df2 = pd.read_csv("data/brasil-real-estate-2.csv")

In [ ]:
#use the price_brl column to create the price_usd column

df2["price_usd"]= df2["price_brl"]/3.19

In [ ]:
# drop the price_brl column and drop Nans from all dataframe

df2.drop(columns=["price_brl"], inplace=True)
df2.dropna(inplace=True)

In [ ]:
# concatenate both dataframes and check the shape

df = pd.concat([df1,df2])
print("df shape:", df.shape)

## **Explore**

In [ ]:
# create scatter_mapbox showing the location of the properties in df

fig = px.scatter_mapbox(
    df,
    lat='lat',
    lon='lon',
    center={"lat": -14.2, "lon": -51.9},  # Map will be centered on Brazil
    width=600,
    height=600,
    hover_data=["price_usd"],  # Display price when hovering mouse over house
)

fig.update_layout(mapbox_style="open-street-map")

fig.show()

In [ ]:
# Create a histogram of "price_usd"

plt.hist(df["price_usd"])
plt.xlabel("Price [USD]")
plt.ylabel("Frequency")
plt.title("Distribution of Home Prices");

In [ ]:
# horizontal boxplot of "area_m2"

plt.boxplot(df["area_m2"], vert=False)
plt.xlabel("Area [sq meters]")
plt.title("Distribution of Home Sizes")

In [ ]:
#Use the groupby method to create a Series named mean_price_by_region that shows the mean home price in each region in Brazil, sorted from smallest to largest

mean_price_by_region = df.groupby('region')['price_usd'].mean().sort_values(ascending=False)
print(mean_price_by_region)

In [ ]:
#Use mean_price_by_region to create a bar chart. 

mean_price_by_region.plot(
    kind='bar',
    xlabel= "Region",
    ylabel= "Mean Price [USD]",
    title= "Mean House Price by Region"

);

In [ ]:
#Create a DataFrame df_south that contains all the homes from df that are in the "South" region

df_south = df[df['region']=='South']
df_south.head()

In [ ]:
# Use the value_counts method to create a Series homes_by_state that contains the number of properties in each state in df_south
homes_by_state = df_south['state'].value_counts()
homes_by_state

In [ ]:
# scatter plot showing price vs. area for the state in df_south that has the largest number of properties

plt.scatter(df_south[df_south['state']=='Rio Grande do Sul']['area_m2'], 
            df_south[df_south['state']=='Rio Grande do Sul']['price_usd'])
plt.xlabel("Area [sq meters]")
plt.ylabel("Price [USD]")
plt.title("Rio Grande do Sul: Price vs. Area");

In [ ]:
#Create a dictionary south_states_corr, where the keys are the names of the three states in the "South" region of Brazil, and their associated values are the correlation coefficient between "area_m2" and "price_usd" in that state.

south_states_corr = {
    'Rio Grande do Sul':0.894637 ,
    'Santa Catarina':0.894637 ,
    'ParanÃ¡': 0.894637
 }

south_states_corr